/**
  * The container holding the VirtualScroll
  */
.rst__tree {
    outline:none;
}

/**
 * Extra class applied to VirtualScroll through className prop
 */
.rst__virtualScrollOverride {
    * {
        box-sizing: border-box;
    }
}

:global .rst__ReactVirtualized__Grid__innerScrollContainer {
    overflow: hidden;
}

:global .rst__ReactVirtualized__Grid {
    outline: none;
}
